﻿@model Trecco.ViewModels.Quadros.Forms.QuadroForm

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", placeholder = "Insira o nome do quadro aqui." })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Nome)
            @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", placeholder = "Insira a descrição para este quadro aqui." })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
