﻿@model Trecco.ViewModels.Quadros.Forms.QuadroForm

@{
    ViewBag.Title = $"Alterar quadro - {Model.Nome}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alterar quadro - @Model.Nome</h2>

@{ Html.RenderPartial("_Form", Model); }

<div>
    @Html.ActionLink("Voltar", "List")
</div>
