﻿@model Trecco.Dominio.Entidades.Grupo

@{
    ViewBag.Title = $"Alterar grupo - {Model.Nome}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Quadro</h4>
        <hr />
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label for="txtNomeQuadro">Nome</label>
            <input type="text" class="form-control" id="txtNomeGrupo" name="txtNomeGrupo" placeholder="Insira o nome do grupo" value="@Model.Nome">
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "List")
</div>
